.vscode
.idea
d/
runtime/


# 开发ZtbCMS用到的.gitignore
#api/
#statics/
#app/Common/Conf/dataconfig.php
#app/Template
#install.lock
#app/Libs/Driver/Passport/
app/Application/Install/install.lock
app/Common/Conf/dataconfig.php
