/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    /*font: 12px/1.5 tahoma, arial, 微软雅黑, sans-serif;*/
    /*font: 12px/1.5 tahoma, arial, 微软雅黑, sans-serif;*/
    font-family: tahoma, arial, 微软雅黑, sans-serif;
    /*'Source Sans Pro','Helvetica Neue',Helvetica,Arial,*/
}
/* 顶部栏选中 */
.top_navbar  .pull-left a.current{
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.tab_container{
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 25px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 25px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 25px -13px rgba(0,0,0,0.75);
    position: relative;
    z-index: 100;
    height: 44px;
}
.tab_container .tab_lists {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.tab_container .tab_lists .tab_item{
    height: 100%;
    line-height: 44px;
    display: inline-block;
    /*padding: 0 10px;*/
    width: 120px;
    text-align: center;
}
.tab_container .tab_lists .tab_item .title{
    font-size: 12px;
    float: left;
    display: inline-block;
}
.tab_container .tab_lists .tab_item .title p{
    padding: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab_container .tab_lists .tab_item .iconfont_container{
    font-size: 13px;
    float: right;
    width: 16px;
    margin-right: 2px;
    text-align: center;
    display: inline-block;
    position: relative;
    height: 16px;
    line-height: 16px;
    margin-top: 14px;
    cursor: pointer;
}
.tab_container .tab_lists .tab_item .icon-close:hover{
    color: red;
}
.tab_container .tab_lists .tab_item .iconfont_container .iconfont{
    position: absolute;
    top: 0;
    left: 0;
}
.tab_container .tab_lists .tab_item.active{
    background: #e6e6e6;
}