body fieldset{border:1px solid #D8D8D8; padding:10px;}
body fieldset legend{padding:3px 8px;font-weight:700;border:1px solid #D8D8D8;background-color: #F9F9F9;}
body fieldset.blue{border:1px solid #dce3ed}
body fieldset.blue legend{padding:3px 8px;font-weight:700;color:#347add; background:none; border:none}
.picBut {background:url("../images/picBnt.png") no-repeat 0 -28px;color:#FFF;float:left; text-align:center;font-weight:700;height:28px;line-height:26px;*line-height:30px;margin-right:10px;width:75px}
.picBut a{color:#fff;text-decoration: none; width:75px; height:28px;display:inline-block;zoom:1;*display:inline;}

.table-list td,.table-list th{padding-left:12px}
.table-list thead th{ height:30px; background:#eef3f7; border-bottom:1px solid #d5dfe8; font-weight:normal}
.table-list tbody td,.table-list .btn{border-bottom: #eee 1px solid; padding-top:5px; padding-bottom:5px}
div.btn{background:#f6f6f6; padding:6px 12px 0 12px; height:30px;line-height:30px}
.table-list tr:hover,.table-list table tbody tr:hover{ background:#fbffe4}
.nHover tr:hover,.nHover tr:hover td{ background:none}
.table-list .input-text-c{ padding:0; height:18px}
.input-text-c{border:1px solid #A7A6AA;height:18px;padding:2px 0 0; text-align:center}
.td-line{border:1px solid #eee}
.td-line td,.td-line th{border:1px solid #eee}
.button{background:#ddd;height:24px; border-top:0;border-left:0; border-bottom:1px solid #666; border-right:1px solid #666; padding:3px 6px; margin-right:5px}
.table-list tr.on,.table-list tr.on td,.table-list tr.on th,.table-list td.on,.table-list th.on{background:#fdf9e5;}
a.close-own{background: url(../images/cross.png) no-repeat left 3px; display:block; width:16px; height:16px;position: absolute;outline:none;right:7px; top:8px; text-indent:200px; overflow: hidden}
a.close-own:hover{background-position: left -46px}
/*通用表单*/
.common-form{}
.common-form div.contentWrap{padding-right:20px}
.common-form ul li{color:#444; clear:both; vertical-align:middle}
.common-form ul li span.text{width:60px}
.common-form .set{border:1px dashed #e0e7ed;zoom:1; background:#f2f7fb; padding:10px; font-size:12px; margin-bottom:10px}
.common-form .set table td,.common-form .set table th{padding-left:12px}
.common-form .set table th{font-weight:normal; text-align:left;padding:0 8px}
.common-form .set table td{ padding:3px 0 3px 5px}
.common-form .set table td.y-bg{background: url(../images/set_y_line.png) repeat-y right top}
.common-form .set table td input{ background-image:none; height:18px; font-size:12px}
.input,.inputs,.measure-input,textarea,input.endDate,.input-focus{border:1px solid #A7A6AA;height:18px;margin:0 5px 0 0;padding:2px 0 2px 5px;border: 1px solid #d0d0d0;background: #FFF url(../images/input.png) repeat-x; font-family: Verdana, Geneva, sans-serif,"宋体";font-size:12px;}
.input-focus{background: #FFF url(../images/input_focus.png) repeat-x; border-color:#afcee6;font-size:12px;}
input.endDate{background: #fff url(../images/input_date.png) no-repeat right 3px; padding-right:18px;font-size:12px;}
textarea,textarea.input,textarea.input,textarea.input-focus{font-size:12px;height:auto; padding:5px; margin:0;}
select{ vertical-align:middle;background:none repeat scroll 0 0 #F9F9F9;border-color:#666666 #CCCCCC #CCCCCC #666666;border-style:solid;border-width:1px;color:#333;padding:2px;}
.search-form{ margin-bottom:10px}
/*表格表单*/
.table_form{font-size:12px}
.table_form td{padding-left:12px}
.table_form th{font-weight:normal; text-align:right;padding-right:10px; color:#777}
.table_form td label{ vertical-align:middle}
.table_form td,.table_form th{padding:4px 0 4px 8px}
.table_form tbody td,.table_form tbody th{border-bottom:1px solid #eee; }
.colorpanel tbody td,.colorpanel tbody th{ padding:0;border-bottom: none;}
/*select美化*/
.js ul.newList {left:-9999px;}
ul.newList * {margin:0; padding:0;}
ul.newList {margin:0; padding:0; list-style:none; color:#000; background:#fff; position:absolute;  border:1px solid #ccc; top:22px; left:0; overflow:auto; z-index:9999;}
.newListSelected {color:#000; height:22px; padding:4px 0 0 6px; float:left; background:url(../images/select-bg.png) no-repeat right 0; border-left:1px solid #dfdfdf}
.newListSelected span {display:block;}
ul.newList li a {padding:3px 8px;display:block;text-decoration: none;}
.selectedTxt {overflow:hidden; height:16px; padding:0 23px 0 0;}
.measure-input {background:url("../images/ruler.gif") repeat-x scroll 0 9px transparent}
.hiLite {background:#e0ebf4!important; color:#444!important;}
.newListHover {background:#f2f7fb!important; color:#000!important; cursor:default;}
.newListSelHover, .newListSelFocus {background-position:right -26px; cursor:default;}
.newListOptionTitle {font-weight:bold;}
.newListOptionTitle ul {margin:3px 0 0;}
.newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}

/*
===================
基础样式
* b 加粗
* u 下划线
* i 斜体
* w 文本不换行
* tal 文本靠左显示
* tac 文本居中显示
* tar 文本靠右显示
* fl 左浮动
* fr 右浮动
* pr 相对定位
* cp 鼠标点击手势
* vt 表格内容靠上显示
===================
*/
.b{
	font-weight:700 !important;
}
.u{
	text-decoration:underline !important;
}
.i{
	font-style:italic !important;
}
.w{
	white-space:nowrap;
}
.tal{
	text-align:left !important;
}
.tac{
	text-align:center !important;
}
.tar{
	text-align:right !important;
}
.fl{
	float:left !important;
	display:inline;
}
.fr{
	float:right !important;
	display:inline;
}
.pr{
	position:relative;
}
.cp{
	cursor:pointer;
}
.vt{
	vertical-align:top;
}
.dn{
	display:none;
}


/*
===================
按钮【可在input、button、a使用，可自由组合】
>>	btn									默认按钮
>>	btn btn_big					大按钮
>>	btn btn_error				错误按钮
>>	btn btn_success			确认按钮
>>	btn btn_submit			提交按钮
===================
*/
button::-moz-focus-inner, 
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button {
    background: url("../images/admin/content/btn.png") repeat scroll 0 0 #E6E6E6;
    border: 1px solid #C4C4C4;
    border-radius: 2px 2px 2px 2px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
    overflow: visible;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    white-space: nowrap;
}
.btn {
	color: #333;
	background:#e6e6e6 url(../images/admin/content/btn.png);
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	padding:4px 10px;
	display: inline-block;
	cursor: pointer;
	font-size:100%;
	line-height: normal;
	text-decoration:none;
	overflow:visible;
	vertical-align: middle;
	text-align:center;
	zoom: 1;
	white-space:nowrap;
	font-family:inherit;
	_position:relative;
	margin:0;
}
a.btn{
	*padding:5px 10px 2px !important;
}
input.btn,
button.btn{
	*padding: 4px 10px 1px !important;
}
.btn em{
	font-size:10px;
	font-style:normal;
	padding-left:2px;
	font-family:Arial;
	vertical-align:1px;
}
.btn .add{
	width:9px;
	height:9px;
	background:url(../images/admin/content/btn_add.png) center center no-repeat;
	display:inline-block;
	vertical-align:middle;
	margin:-3px 5px 0 -3px;
	line-height:9px;
}
/*悬停*/
.btn:hover {
	background-position: 0 -40px;
	color: #333;
	text-decoration: none;
}
/*点击后*/
.btn:active {
	background-position:0 -81px;
}
/*大按钮*/
.btn_big {
	font-size: 1.2em;
	line-height: normal;
	padding: 7px 18px;
	border-radius: 2px;
}
input.btn_big,
button.btn_big{
	*padding: 6px 18px 3px !important;
}
/*其他按钮文字颜色*/
.btn_error,
.btn_error:hover,
.btn_success,
.btn_success:hover,
.btn_submit,
.btn_submit:hover{
  color: #ffffff !important;
}
/*提交按钮*/
.btn_submit{
	background-position:0 -120px;
	background-color: #1b75b6;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #106bab #106bab #0d68a9;
}
.btn_submit:hover{
	background-position:0 -160px;
}
.btn_submit:active{
	background-position:0 -201px;
}
/*确认按钮*/
.btn_success{
	background-color: #89bf00;
	background-position:0 -240px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #6bad01 #6bad01 #63a100;
}
.btn_success:hover{
	background-position:0 -280px;
}
.btn_success:active{
	background-position:0 -321px;
}
/*错误按钮*/
.btn_error{
  background-color: #f29307;
	background-position:0 -360px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #e77c0e #e77c0e #dd7204;
}
.btn_error:hover{
	background-position:0 -400px;
}
.btn_error:active{
	background-position:0 -441px;
}
/*失效*/
input.disabled,
input.disabled:hover,
textarea.disabled,
textarea.disabled:hover,
select.disabled,
button.disabled,
button.disabled:hover{
	border-color: #ccc !important;
	background: #e9e9e9 !important;
	box-shadow: none !important;
	color: #999 !important;
	cursor: not-allowed;
	text-shadow: 1px 1px 0 #fff !important;
}
