### ZTBCMS_INSTALL_START ###
APP_DEBUG = false

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[DATABASE]
TYPE = mysql
HOSTNAME = #DB_HOST#
DATABASE = #DB_NAME#
USERNAME = #DB_USER#
PASSWORD = #DB_PWD#
HOSTPORT = #DB_PORT#
PREFIX = #DB_PREFIX#
CHARSET = utf8mb4
DEBUG = false

[SECURITY]
AUTHCODE = #AUTHCODE#
COOKIE_PREFIX = #COOKIE_PREFIX#
CACHE_PREFIX = #CACHE_PREFIX#
### ZTBCMS_INSTALL_END ###
